---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;



// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
// not included: "syntax-highlighting"
@import
        "base",
        "layout"
;


// custom css added
.photo {
  border-radius: 100%;
  width: 250px;
  float: right;
}
 
h4 {
  margin-top: 2em;
  font-weight: 400;
}
 
.buttonswrapper {
  position: relative;
  width: 680px;
  height: 470px;
}
 
.circle-wrapper {
  /*width: 680px;
  height: 470px;
  position: absolute;*/
  overflow: hidden;
  z-index: 0;
}
 
.circle-wrapper .col {
  float: left;
  margin-bottom: 35px;
  width: -webkit-calc(100% / 3;);
  width: calc(100% / 3); 
}
 
.circle-wrapper .col:nth-child(3n) {
  padding-left: -webkit-calc(33.3333% - 200px);
  padding-left: calc(33.3333% - 200px);
}
 
.circle-wrapper .col:nth-child(3n+2) {
  padding-left: calc( (33.3333% - 200px) / 2);
}
 
.circle-wrapper .col .circle {
  text-align: center;
  width: 200px;
  height: 200px;
  border-radius: 100%;
  background: #777;
}
 
.circle-wrapper .col .circle:hover {
  background-color: #999;
}
 
.circle h2 {
  padding-top: 35%;
}
 
.circle p {
  margin-top: -12px;
}
 
.overlay {
  z-index: 10;
  position: absolute;
  top: 0px;
  background: lightblue;
  padding: 25px;
  width: 680px;
  height: 470px;
  /*opacity: 0;
  transition: opacity 1s;*/
}
 
.x {
  width: 30px;
  height: 30px;
  position: absolute;
  right: 25px;
  top: 25px;
  background-color: red;
  z-index: 20;
}
 
.x:hover {
  background-color: darkred;
}

.contact-form input,
.contact-form textarea {
  height: 30px;
  width: 200px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}