{% assign current = page.permalink | downcase | split: '/' %}

<header class="site-header">

  <div class="wrapper">

    <a class="site-title" href="/">{{ site.title }}</a>

    <nav class="site-nav">
      <div class="trigger">
        <ul class="nav">
          <li><a class="page-link {% if current[1] == 'visie' %} active{% endif %}"  href="{{ '/visie/' }}">Visie</a></li>
          <li><a class="page-link {% if current[1] == 'about' %} active{% endif %}" href="{{ '/about/' }}">Over KNOT</a></li>
          <li id="diensten">
            <a class="page-link {% if current[1] == 'diensten' %} active{% endif %}" href="{{ '/diensten/' }}">Diensten</a>
            <ul class="sub">
              {% for dienst in site.data.diensten %}
                  {% assign sub = dienst.link | downcase | split: '/' %}

                <li>
                  <a href="{{ dienst.link }}" {% if sub[2] == current[2]%} class='active' {% endif %}>{{ dienst.name }}</a>
                </li>
              {% endfor %}
            </ul>
            </li>
          <li><a class="page-link {% if current[1] == 'contact' %} active{% endif %}" href="{{ '/contact/'  }}">Contact</a></li>
        </ul>
      </div>
    </nav>

  </div>

</header>