<!DOCTYPE html>
<html lang='nl'>

  {% include head.html %}

  <body>
    {% if page.img %}
      {% include featured.html %}
    {% endif %}
    {% include header.html %}
  
    <div class="page-content">
      {% if page.img-path %}
        <div class="header-img-cont" style="background: url({{ page.img-path }}) center center / cover no-repeat;">
        </div>
      {% endif %}
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

  </body>

</html>
